h5 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.container {
    background-color: #f4f4f9;
    border-radius: 0.5rem;
    padding: 0.7rem;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
